<!--<nav class="menu">-->
<!--	<a href="./index.html">home</a>-->
<!--	<a href="./content.html">content</a>-->
<!--	<a href="./form.html">form</a>-->
<!--</nav>-->

<div class="menu">
	<span class="menu__button">
		<span></span>
	</span>
	<nav class="menu__nav">
		<svg width="24px" height="24px" class="menu__close-mobile">
			<use xlink:href="#svg-close"></use>
		</svg>
		<a href="./index.html" class="menu__link menu__link_active">home</a>
		<a href="./content.html" class="menu__link">content</a>
		<a href="./form.html" class="menu__link">form</a>
	</nav>
</div>