<input type="text" placeholder="text"> <br>
<input type="number" placeholder="number"> <br>
<input type="email" placeholder="email"> <br>
<input type="file" placeholder="file"> <br>
<input type="password" placeholder="password"> <br>
<input type="search" placeholder="search"> <br>

<input type="button" value="button"> <br>
<input type="submit" value="submit"> <br>


${require('./elements/checkbox/checkbox.html')} <br>
${require('./elements/radio/radio.html')} <br>
${require('./elements/select/select.html')} <br>

<select name="">
	<option value="val-1">value 1</option>
	<option value="val-2">value 2</option>
</select>

<br>

<textarea name="" cols="30" rows="10">
some text
</textarea>


<hr>

<form action="" class="form-validate">
	<input type="text" class="email" required> <br>
	<input type="tel" required> <br>
	<button type="submit">send</button>
</form>