<div class="content">
	<h1>h1 Заголовок</h1>
	<h2>h2 Заголовок h2</h2>
	<h3>h3 Заголовок h3</h3>
	<h4>h4 Заголовок h4</h4>
	<h5>h5 Заголовок h5</h5>
	<h6>h6 Заголовок h6</h6>
	<a href="javascript: void(0)">My link</a>
	<p> <b>Программирование сегодня</b> — это гонка разработчиков <img src="../../images/html5.png" alt="htm5"> программ, стремящихся писать программы с большей и лучшей
		идиотоустойчивостью, и вселенной, которая пытается создать больше отборных идиотов. Пока вселенная побеждает.</p>
	<img src="../../images/content.jpg" alt="content">
	<ul>
		<li>низкоуровневый язык — это когда <i>требуется</i> внимание к вещам, которые никак не связаны с программами на этом языке.</li>
		<li>не волнуйтесь, если что-то не работает. <del>Если бы всё работало</del>, вас бы уволили.</li>
	</ul>
	<ol>
		<li>Низкоуровневый язык — это <em>когда</em> требуется внимание к вещам, которые никак не связаны с программами на этом языке.</li>
		<li>Не волнуйтесь, <s>если</s> что-то не работает. Если бы всё работало, вас бы уволили.</li>
	</ol>
	<dl>
		<dt>Термин 1</dt>
		<dd>Описание термина 1</dd>
		<dt>Термин 2</dt>
		<dd>Описание термина 2</dd>
	</dl>
	<blockquote>
		Для меня долгое время было загадкой, как что-то <small>очень дорогое</small> и технологичное может быть столь бесполезным.
		И вскоре я осознал, что <strong>компьютер </strong> — это глупая машина, обладающая способностями выполнять невероятно умные вещи,
		тогда как программисты — это умные люди, у которых талант делать невероятные глупости. Короче, они нашли друг друга.
	</blockquote>
	<table>
		<thead>
			<tr>
				<th>наименование</th>
				<th>цена</th>
				<th>год</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Яблука Яблука Яблука</td>
				<td>asdfasdfasdfasdfasdfsadfasdfl;sadf;lsankdfnsadf/nskldnflasdf</td>
				<td>Lorem ipsum dolor.</td>
			</tr>
			<tr>
				<td>Помідори</td>
				<td>14 грн</td>
				<td>2005</td>
			</tr>
			<tr>
				<td>Банані</td>
				<td>16 грн</td>
				<td>2008</td>
			</tr>
			<tr>
				<td>Морква</td>
				<td>20 грн</td>
				<td>2012</td>
			</tr>
		</tbody>
	</table>
	
	<abbr title="World Wide Web">WWW</abbr>
	
	<address>вулиця Петра Сагайдачного, 25Б, Київ, 04070</address>
	
	<article>
		<h3>Заголовок</h3>
		<p>Текст статьи</p>
	</article>
	
	<code>
		<pre>
		function checkParent (src, dest) {
			while (src != null) {
		if (src.tagName == dest) return src
			src = src.parentElement
		}
			return null
		}
		</pre>
	</code>
	<kbd>command</kbd>
	<mark>текст</mark>
	<meter value="10" max="100" low="10" high="60">Низкая</meter>
	<progress value="12" max="120">
		Текст
	</progress>
	<q>это цитата</q>
	<details>
		<summary>Текст</summary>
		<p>Текст2</p>
	</details>
	<p><time>1969-07-21</time> высадка человека на Луну.</p>
</div>