<!--
что бы показывать выбраный рейтинг нужно добавить
класс active на data-yam-rating и label выбраной звезды, после того
как пользователь проголосовал, нужно добавить еще класс disabled на
data-yam-rating что бы запретить вызов popupa при клике на звезду
-->

<!--starContainer-->
<div data-yam-rating="true" >
	<!--<svg><use xlink:href="#svg-star"></use></svg>-->
	<!--<svg class="active"><use xlink:href="#svg-star"></use></svg>-->
	<!--<svg><use xlink:href="#svg-star"></use></svg>-->
	<!--<svg><use xlink:href="#svg-star"></use></svg>-->
	<!--<svg><use xlink:href="#svg-star"></use></svg>-->
	<label>
		<input type="radio" name="name1[]" value="1">
		<svg id="svg-star" viewBox="0 0 18 18">
			<path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
			<path d="M0 0h18v18H0z" fill="none"/>
		</svg>
	</label>
	<label>
		<input type="radio" name="name1[]" value="1">
		<svg id="svg-star" viewBox="0 0 18 18">
			<path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
			<path d="M0 0h18v18H0z" fill="none"/>
		</svg>
	</label>
	<label class="active">
		<input type="radio" name="name1[]" value="1">
		<svg id="svg-star" viewBox="0 0 18 18">
			<path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
			<path d="M0 0h18v18H0z" fill="none"/>
		</svg>
	</label>
	<label>
		<input type="radio" name="name1[]" value="1">
		<svg id="svg-star" viewBox="0 0 18 18">
			<path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
			<path d="M0 0h18v18H0z" fill="none"/>
		</svg>
	</label>
	<label>
		<input type="radio" name="name1[]" value="1">
		<svg id="svg-star" viewBox="0 0 18 18">
			<path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
			<path d="M0 0h18v18H0z" fill="none"/>
		</svg>
	</label>
</div>
